.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  margin: 93px auto 0 244px;
  padding: 26px 23px 27px 22px;
}

.u-section-1 .u-btn-2 {
  margin: -78px 272px 60px auto;
  padding: 26px 29px 27px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 83px;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 21px;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    margin-top: 15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}