.u-section-1 .u-sheet-1 {
  min-height: 72px;
}

.u-section-1 .u-text-1 {
  margin: -7px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 1270px;
}

.u-section-2 .u-text-1 {
  margin: 82px auto 0;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px auto 0 162px;
  padding: 32px 61px 32px 60px;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -106px 162px 0 auto;
  padding: 40px 67px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 507px;
  background-image: linear-gradient(#478ac9, #db545a);
  margin: 15px 724px 0 66px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 507px;
  background-image: linear-gradient(#478ac9, #db545a);
  margin: -522px 88px 60px 702px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 589px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 369px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: 369px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 189px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: 189px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}